[submodule "EglCpp/External/fmt"]
	path = EglCpp/External/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "EglCpp/External/DirectXTK"]
	path = EglCpp/External/DirectXTK
	url = git@github.com:microsoft/DirectXTK.git
